.main-container {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-container h1 {
  font-size: 40px;
}

.box-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 375px;
}

.box {
  border: 2px solid black;
  box-shadow: 0 0 0 2px;
  min-width: 125px;
  min-height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 110px;
  cursor: pointer;
}

#restart-button {
  background-color: lightgrey;
  color: black;
  padding: 16px 40px;
  border-radius: 8px;
  border-color: black;
  font-size: 30px;
  cursor: pointer;
  margin: 30px;
}

#restart-button:hover {
  background-color: royalblue;
  color: gold;
}